<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>새 공지사항 작성</title>
</head>
<body>
<h1>✏️ 새 공지사항 작성하기</h1>

<form action="/write" method="post" enctype="multipart/form-data">
    <div>
        <label>제목: </label>
        <input type="text" name="title" required>
    </div>
    <br>
    <div>
        <label>내용: </label>
        <textarea name="content" rows="5" required></textarea>
    </div>
    <br>
    <div>
        <label>파일 첨부: </label>
        <input type="file" name="file"> </div>
    <br>
    <button type="submit">저장하기</button>
</form>
</body>
</html>